.total {
    display: flex;
    margin-top: 135px;
    justify-content: center;
    height: calc(100vh - 77);
}

.feeds {
    width: 614px;
    background-color: #fff;
}

article {
    border: 1px solid rgb(223, 223, 223);
    border-radius: 3px;
    width: 100%;
}

.firstHeader {
    height: 60px;
    padding: 16px;
    display: flex;
}

.profilePhoto {
    background-image: url("https://scontent-icn1-1.cdninstagram.com/vp/91a4a6cf425350138a196ba4df885b9b/5DFE2D10/t51.2885-19/s150x150/64219646_866712363683753_7365878438877462528_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com");
    display:inline-block;
    background-size: 100%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.profileName {
    color: #262626;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 10px;
}

.feedPhoto img {
    width: 100%;
}

.feedPhoto {
    width: 614px;
}
.photoBottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.profileList {
    display:flex;
    width: 140px;
    height: 100%;
    margin: 0;
    padding: 0;
}

.profileList li, .bookmarkImg {
    width: 24px;
    height: 23px;
    background-size: 100%;
    margin: 11px;
    cursor: pointer;
}

.profileHeartImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

.profileBalloonImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png");
}

.profileShareImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png");
}

.bookmarkImg {
    background-image: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png");
}

.likeSection {
    padding: 7px 16px;
    font-weight: bold;
    font-size: 14px;
}

.commentUploadedBox {
    padding: 0 16px;
}

.commentList .userComment span {
    font-weight: bold;
}

.commentList button {
    padding: 0;
    color: #999999;
    font-size: 14px;
    cursor: pointer;
}

.commentList .secondList {
    margin-bottom: 10px;
}

.timeBox {
    color: #999999;
    font-size: 10px;
    padding: 5px 16px;
}

.commentWritingSection {
    padding: 15px 16px;
    border-top: 1px solid rgb(223, 223, 223);
}

.commentForm {
    width: 582px;
    display: flex;
    justify-content: space-between;
}

.commentForm button {
    color: #3897F0;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.3;
    padding: 0;
}

.commentWriting {
    resize: none;
    color: #999;
    border: none;
    width: 557.77px;
    font-size: 14px;
    display: inline-block;
}