.firstHeader {
    height: 60px;
    padding: 16px;
    display: flex;
}

.profilePhoto {
    background-image: url("https://scontent-icn1-1.cdninstagram.com/vp/91a4a6cf425350138a196ba4df885b9b/5DFE2D10/t51.2885-19/s150x150/64219646_866712363683753_7365878438877462528_n.jpg?_nc_ht=scontent-icn1-1.cdninstagram.com");
    display:inline-block;
    background-size: 100%;
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.profileName {
    color: #262626;
    font-weight: bold;
    font-size: 14px;
    padding: 4px 10px;
}

.feedPhoto img {
    width: 100%;
}

.feedPhoto {
    width: 614px;
}